{% extends "ecommerce/base.html" %}
{% block content %}
<h1>Aqui temos o que precisa!</h1>
<div class="circles-container">
    <div><div class="circle"></div>Computador</div>
    <div><div class="circle"></div>Minecraft</div>
    <div><div class="circle"></div>Meme</div>
    <div><div class="circle"></div>Minas Gerais</div>
    <div><div class="circle"></div>Mouse</div>
    <div><div class="circle"></div>Sofá</div>
    <div><div class="circle"></div>Reclado</div>
    <div><div class="circle"></div>Popo</div>
</div>
<div class="products-container">
    <div><div class="product">199.99R$</div>Hello World</div>
    <div><div class="product">199.99R$</div>Hello World</div>
    <div><div class="product">199.99R$</div>Hello World</div>
    <div><div class="product">199.99R$</div>Hello World</div>
</div>
<!--
<div class="selection">
    {% for product in products %}
    <div>
        {{ product.name }}
    </div>
    {% endfor %}
</div>
-->
{% endblock %}
