{% extends "ecommerce/base.html" %}
{% block content %}
<h2>Your orders here!</h2>
{% for sale in sales %}
<div class="order">
    <h3>Pedido número {{sale.id}}</h3> <span class="{{sale.status}}">{{sale.get_status}}</span>
    <table class="orders-table">
        {% for order in sale.order_set.all %}
        <tr>
            <td></td>
            <td>{{order.product.name}}</td>
            <td>{{order.product.decimal_price}} R$</td>
            <td>{{order.quantity}} Und.</td>
        </tr>
        {% endfor %}
        <tr class="order-total">
            <td>Total</td>
            <td></td>
            <td>{{sale.total}} R$</td>
            <td></td>
        </tr>
    </table>
    {% if sale.status == "PPND" %}
    <form action="{% url 'ecommerce:checkout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Ir ao pagamento" />
        <input type="hidden" name="id" value="{{sale.id}}" />
    </form>
    {% endif %}
</div>
{% endfor %}
{% endblock %}