body {
    background-color: #FEF6F5;
    color: #FDE9E7;
    color: #0F0200;
    margin: 0;
    padding: 0;
    padding-top: 8vh;
    font-family: "Roboto Mono"
}

html{
    margin: 0;
}

nav{
    background-color: #8E160B;
    color: #FEF7F6;
    background-color: #0F0200;
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 18px;
    padding: 0% 1%;
    font-family: "Roboto Mono"
}

nav > a {
    flex-grow: 1;
    text-decoration: none;
    color: #FEF7F6;
}

nav > a:hover{
    color:#811616;
}

nav > div{
    flex-grow: 2;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 78px;
    color: #0F0200;
    text-align: center;
    margin: 0;
}

.selection{
    display: flex;
    flex: nowrap;
    justify-content: space-around;
}

.selection > div{
    text-align: center;
}

.selection > div:first-child > a > img{
    height: 300px;
    width: 300px;
}


.section2{
    background-color: #F2A6A6;
    color: #0F0200;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

.section2 > .selection > img{
    border: solid 1px #0F0200;
}

.section3{
    background-color: #811616;
    color: #FEF7F6;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

p {
    text-align: center;
    color: #0F0200;
}

.card-button{
    color: #0F0200;
    font-family: "Jacques Francois";
    font-size: 36px;
    border: double 3px #D9D9D9;
    background-color: #F2A6A6;
    margin-top: 2%;
    margin-left: 60%;
}

.card-button:active{
    background-color: #811616;
    color: #FEF7F6;
}

.login{
    background-color: #811616;
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.login > div{
    flex-grow: 1;
    height: 100%;
}


.login > div:first-child{
    border-right: solid 5px black;
}

form{
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.product-card{
    background-color: #FEF6F5;
    color: #FEF7F6;
    display: flex;
    border: solid 3px #0F0200;
    height: 400px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.product-card > img{
    height: 300px;
    width: 300px;
    margin-left: 50px;
}

.circles-container{
    display:flex;
    justify-content: space-between;
    padding: 0% 5%;
    text-align: center;
    margin-bottom: 5%;
}

.circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.products-container{
    display:flex;
    flex-overflow: auto;
    justify-content: space-between;
    padding: 0% 5%;
    overflow-x: scroll;
}

.product{
    display: flex;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    border: solid #8E160B 5px;
    flex: 0 0 350px;
    margin-right: 50px;
    justify-content: right;
    align-items: flex-end;
    font-size: 1.5rem;
}

.intro-index{
margin-top: 5%;
margin-bottom: 5%;
}

.scroll-button{
    position: absolute;
    right: 20px;
    top: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

.scroll-button-left{
    position: absolute;
    left: 0;
    top: inherit;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
  border-radius: 50px;
}

.triangle {
	position: absolute;
	background-color: orange;
	text-align: left;
	-webkit-user-select: none;
	user-select: none;
}

.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
/*
.triangle,
.triangle:before,
.triangle:after {
	width:  10em;
	height: 10em;
	border-top-right-radius: 30%;
}
*/
.triangle, .triangle:before, .triangle:after {
	width:  1.5em;
	height: 1.5em;
	border-top-right-radius: 30%;
}

.triangle {
	/*transform: rotate(-60deg) skewX(-30deg) scale(1,.866);*/
	transform: rotate(calc(-60deg + 90deg)) skewX(-30deg) scale(1,.866);
}

.triangle-left{
	transform: rotate(calc(-60deg - 90deg)) skewX(-30deg) scale(1,.866);
	left: 20px;
}

.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.triangle:hover{
	background-color: red;
}

.triangle:active{
	background-color: green;
}


