body {
    background-color: #FEF6F5;
    background-color: white;
    color: #FDE9E7;
    color: #0F0200;
    margin: 0;
    padding: 0;
    padding-top: 8vh;
    font-family: "Roboto"
}

html{
    margin: 0;
}

nav{
    background-color: #8E160B;
    color: #FEF7F6;
    background-color: #0F0200;
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 18px;
    padding: 0% 1%;
    font-family: "Roboto";
    z-index: 2;

    img {
        filter: invert(100%) sepia(92%) saturate(0%) hue-rotate(311deg) brightness(107%) contrast(107%);
        width: 50px;
        height: 100%;
        margin: 0 0;
    }
    a > img:hover{
        filter: invert(11%) sepia(80%) saturate(2871%) hue-rotate(354deg) brightness(106%) contrast(88%);
    }

    form > input[type='submit']{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 18px;
        margin-right: 50px;
    }:hover{
        color:#811616 !important;
    }

    .search > input[type="search"]{
      background-color: #FDE9E7;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
    }


}
    nav > .space{
        width: 500px;
    }


nav > a {
    flex-grow: 1;
    text-decoration: none;
    color: #FEF7F6;
}

nav > a:hover{
    color:#811616;
}

nav > div{
    flex-grow: 2;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 78px;
    color: #0F0200;
    text-align: center;
    margin: 0;
}

h2{
    color: black;
}

.selection{
    display: flex;
    flex: nowrap;
    justify-content: space-around;
}

.selection > div{
    text-align: center;
}

.selection > div:first-child > a > img{
    height: 300px;
    width: 300px;
}


.section2{
    background-color: #F2A6A6;
    color: #0F0200;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

.section2 > .selection > img{
    border: solid 1px #0F0200;
}

.section3{
    background-color: #811616;
    color: #FEF7F6;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

p {
    text-align: center;
    color: #0F0200;
}

.card-button{
    color: #0F0200;
    font-family: "Jacques Francois";
    font-size: 36px;
    border: double 3px #D9D9D9;
    background-color: #F2A6A6;
    margin-top: 2%;
    margin-left: 60%;
}

.card-button:active{
    background-color: #811616;
    color: #FEF7F6;
}

.login{
    background-color: #811616;
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.login > div{
    flex-grow: 1;
    height: 100%;
}


.login > div:first-child{
    border-right: solid 5px black;
}

form{
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.product-card{
    background-color: #FEF6F5;
    background-color: white;
    color: #FEF7F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    min-height: 600px;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0px 1px 2px black;

    h2{
        text-align: center;
    }

}

.product-card > img{
    grid-row-start: 1;
    grid-row-end: 2;
    width:500px;
    height:400px;
    border-radius: inherit;

}


.product-card > .buy-component{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: inherit;
}

.product-description{
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    padding: 0 4em;
}

.buy-component{
    text-align: center;
    padding-top: 60px;
}
.buy-component > form{
    height: 225px;
    width: 200px;
    color: black;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 1px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0;
    margin: auto;

    input[type='submit']{
        padding: 10px;
        color: #fff;
        background-color: #1b9103;
        border: none;
        border-radius: 15px;
        font-size: 1rem;
        width: 100px;
        margin: auto;
        box-shadow: 0px 1px 2px black;
    }[type='submit']:hover{
        background-color: #1b8306;
        box-shadow: 0px 1px 3px black;
    }[type='submit']:active{
        box-shadow: 0px 1px 1px black;
    }

    input[type='number']{
        width: 3em;
        margin: auto;
        text-align: center;
        font-size: 1rem;
    }


}

.circles-container{
    display:flex;
    justify-content: space-between;
    padding: 0% 5%;
    text-align: center;
    margin-bottom: 5%;
}

.circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.products-container{
    display:flex;
    flex-overflow: auto;
    justify-content: space-between;
    padding: 0% 5%;
    overflow-x: scroll;
    text-align: left;
}

.products-container > a{
    text-decoration: none;
    color: black;
}
.products-container > a > img{
    color: black;
    margin-bottom: 10px;
}

.product{
    display: flex;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    flex: 0 0 350px;
    margin-right: 50px;
    justify-content: right;
    align-items: flex-end;
    font-size: 1.5rem;
    /*box-shadow: 25px 20px 2px #3B2D2B;*/
    box-shadow: 0px 1px 2px #3B2D2B;
}

.product:hover{
    box-shadow: 0px 2px 4px #3B2D2B;
}

.intro-index{
margin-top: 5%;
margin-bottom: 5%;
}

.scroll-button, .scroll-button-left{
    position: absolute;
    right: 20px;
    top: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

.triangle {
	position: absolute;
	background-color: orange;
	text-align: left;
	-webkit-user-select: none;
	user-select: none;
}

.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangle, .triangle:before, .triangle:after {
	width:  1.5em;
	height: 1.5em;
	border-top-right-radius: 30%;
}

.triangle {
	/*transform: rotate(-60deg) skewX(-30deg) scale(1,.866);*/
	transform: rotate(calc(-60deg + 90deg)) skewX(-30deg) scale(1,.866);
}

.triangle-left{
	transform: rotate(calc(-60deg - 90deg)) skewX(-30deg) scale(1,.866);
	left: 20px;
}

.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.triangle:hover{
	background-color: red;
}

.triangle:active{
	background-color: green;
}

.shopping-cart-table{
    margin: 100px;

    .table_image > img{
        height: 250px;
        width: 250px;
    }

    .table_description{
        max-width: 30em;
        text-align: center;
    }

    .table_quantity{
        font-size: 1.8rem;
    }

    .table_name{
        font-size: 1.5rem;
    }

    td{
        padding: 30px;
    }
}

.buy-form{
    background-color: none;
    input{
        width: 30%;
        background-color: #1b9103;
        color: white;
        font-size: 1.5rem;
        margin-bottom: 100px;
        border: none;
        border-radius: 1.5rem;
        padding: 15px 0;
        box-shadow: 0x 3px 2px black !important;
    }
    input[type="submit"]:hover{
        box-shadow: 0x 1px 3px black;
    }
}

.buy-form > input{
    box-shadow: 0px 1px 2px black;
}
.buy-form > input:hover{
    box-shadow: 0px 1px 3px black;
}

.buy-form > input:active{
    box-shadow: 0px 0px 1px black;
}

.shopping-cart-counter{
    position:absolute;
    left: 40px;
    top:30px;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 25px;
    text-align: center;
}

.shop-icon{
    position:relative;
}

.about-card{
    display: inline-block;
    background-color: magenta;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    margin: auto;
}

.search-product{
    background-color: white;
    margin: auto;
    width: 850px;
    height: 180px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px grey;
    display: flex;

    img{
        height: 100%;
    }
}

.search-product-grid{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;

    p{
        text-align: left;
        overflow: hidden;
        height: 3rem;
    }

    .price{
        font-size: 1.5rem;
    }
}

.search-a-tag{
    text-decoration: none;
    color: inherit;
}

.load-button{
    background-color: green;
    border: none;
    color: white;
    margin: 0 45%;
}

.order{
    margin: auto;
    width: 800px;
    box-shadow: 0px 1px 2px black;
    border-radius: 10px;
    margin-bottom: 25px;
}

.order > span{
    text-align: right;
    margin-left: 500px;
}

.order > h3{
    display: inline-block;
}

.order > form > input{
    font-size: 18px;
    margin-left: 80%;
    color: white;
    background-color: #1b9103;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px black;
}button:active{
    background-color: green;
}button:hover{
    box-shadow: 0px 1px 3px black;
}

.orders-table{
    margin-left: 10%;
    width: 70%;
    border-collapse: collapse;
}

.orders-table > tbody > tr > td{
    padding-top: 25px;
    border-bottom: solid 1px gray;
}

.CANC{
    color: red;
}

.PPND{
    color: yellow;
}

.order-total{
    font-weight: 700;
    font-size: 1.2em;
}